.extra {
  font-size: 100px;
}

label {
  color: lightgreen;
  font-size: 30px;
  display: block;
  margin: 10px;
}



.box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}



.small_box{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 8px solid red;
  margin: 30px;
  width: fit-content;
  padding: 5px ;
}



